body{
    background-color: rgb(120, 201, 255);
    padding: 5% 2%;
    margin: 20px;
}

.player{
    background-color: rgb(97, 95, 95);
    opacity: .7;
    overflow: hidden;
    border-color: aquamarine;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
}

.squad{
    text-align: center;
}

.squad img{
    width: 200px;
    height: auto;
    cursor: pointer;
}