body{
    background-color: silver;
    padding: 5% 2%;
    margin: 20px;
}

#player1{
    background-color: slategray;
    opacity: .7;
    overflow: hidden;
    border-color: aquamarine;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: brown;
    margin: 25px;
}

#player2{
    background-color: rgb(97, 95, 95);
    opacity: .7;
    overflow: hidden;
    border-color: aquamarine;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: yellowgreen;
    margin: 25px;
}

.squad{
    text-align: center;
}

.squad img{
    width: 200px;
    height: auto;
    cursor: pointer;
}

#gamingUnit{
    overflow-wrap: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    color: rgb(161, 149, 149);
    text-align: center;
}


#statsDiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.loger{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#storyP1,
#storyP2,
#storyP3,
#storyP4,
.btnHold{
    display: none;
}